@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}

@keyframes flow-dash {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -24;
  }
}